In [1]:
set1 = {1,2,3}
set1.add(4)
print(set1)

{1, 2, 3, 4}

In [2]:
set1.update([4,5,6])
print(set1)

{1, 2, 3, 4, 5, 6}

In [3]:
set1.remove(5)
print(set1)

{1, 2, 3, 4, 6}

In [4]:
set1 = set([0, 1, 2, 3, 4, 5, 6])
set2 = set([4, 5, 6, 7, 8, 9, 10])

print(set1 & set2)
print(set1.intersection(set2))
print(set1 | set2)
print(set1.union(set2))
print(set1 - set2)
print(set1.difference(set2))

{4, 5, 6}
{4, 5, 6}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 1, 2, 3}
{0, 1, 2, 3}

In [5]:
nums = 1, 2, 3
print(nums)

(1, 2, 3)

In [6]:
print(type(nums))

<class 'tuple'>

In [7]:
num1, num2, num3 = nums
print(num1)
print(num2)
print(num3)

1
2
3

In [8]:
nums = [1, 2, 3, 4, 5]
num1, num2, num3, num4, num5 = nums
print(num1, num2, num3, num4, num5)

1 2 3 4 5

In [9]:
num1, num2, *num3 = nums
print(num1, num2, num3)

1 2 [3, 4, 5]

In [10]:
*num1, num2, num3 = nums
print(num1, num2, num3)

[1, 2, 3] 4 5

In [11]:
nums = (1, 2, 3)
num1, num2, _ = nums
print(num1, num2)

1 2

In [12]:
student = {'name':'홍길동', 'major': '정보통신', 'grade':3}
a, b, c = student
print(a, b, c)

name major grade

In [13]:
set1 = {1, 2, 3, 4}
a, *b, c = set1
print(a, b, c)

1 [2, 3] 4

In [14]:
def hello1(name):
    print('Hello World!', name)

In [16]:
hello1('홍길동')

Hello World! 홍길동

In [17]:
def add(num1, num2):
    print(num1 + num2)

add(2, 3)
add(3.5, 3.14)
add("Hello ", "World!")

5
6.640000000000001
Hello World!

In [19]:
def hello2():
    return "Hello World!"

print(hello2())

Hello World!

In [21]:
def hello3(name):
    return "Hello " + name

print(hello3("홍길동"))

Hello 홍길동

In [22]:
def hello4(greeting, *names):
    for name in names:
        print(greeting, name)

hello4("안녕", "진", "슈가", "제이홉", "지민")

안녕 진
안녕 슈가
안녕 제이홉
안녕 지민

In [23]:
def function(first, second, third):
    return first + second + third

print(function(3,5,7))
print(function(first=3, second=5, third=7))
print(function(second=5, third=7, first=3))

15
15
15

In [24]:
def cal(num1, mark, num2):
    if mark == "+":
        print(f"{num1} + {num2} = {num1 + num2}")
    elif mark == "-":
        print(f"{num1} - {num2} = {num1 - num2}")
    elif mark == "*":
        print(f"{num1} * {num2} = {num1 * num2}")
    elif mark == "/":
        print(f"{num1} / {num2} = {num1 / num2}")

cal(3, "+", 5)

3 + 5 = 8

In [25]:
cal(16, "/", 4)

16 / 4 = 4.0

In [26]:
def function1(first=1, second=3, third=5):
    return first + second + third
print(function1())
print(function1(1, 2, 3))

9
6

In [27]:
print(function1(1))

9

In [28]:
print(function1(2))

10

In [29]:
print(function1(first=1, second=5))

11

In [31]:
def calcGrade(score):
    if score >= 90:
        result = "A"
    elif score >= 80:
        result = "B"
    elif score >= 70:
        result = "C"
    elif score >= 60:
        result = "D"
    else:
        result = "F"
    return result

print(calcGrade(95))
print(calcGrade(77))

A
C

In [32]:
def function():
    return 1, "Hello", True

a, b, c = function()
print(a, b, c)

1 Hello True

In [33]:
a = function()
print(a)

(1, 'Hello', True)

In [34]:
def ret_list():
    return [1, 2]
l = ret_list()
print(l)

[1, 2]

In [35]:
n1, n2 = ret_list()
print(n1, n2)
n1, _ = ret_list()
print(n1)

1 2
1

In [36]:
def divide(num1, num2):
    return num1 // num2, num1 % num2

print(divide(15, 4))

(3, 3)

In [37]:
print(divide(16, 4))

(4, 0)

In [ ]:
def solution(num1, num2):
    answer = 0
    if num1 == num2:
        answer = 1
    else:
        answer = -1
    return answer

In [ ]:
def solution(num1, num2):
    return 1 if num1==num2 else -1

In [ ]:
def solution(num1, num2):
    return num1 // num2

In [ ]:
def solution(age):
    return 2023 - age

In [ ]:
def solution(age):
    return 2022 - age + 1

In [ ]:
def solution(angle):
    if 0 < angle < 90:
        answer = 1
    elif angle == 90:
        answer = 2
    elif 90 < angle < 180:
        answer = 3
    elif angle == 180:
        answer = 4
    return answer

In [ ]:
def solution(angle):
    if angle<=90:
        return 1 if angle<90 else 2
    else:
        return 3 if angle<180 else 4

In [ ]:
def solution(n):
    answer = 0
    i = 0
    while i <= n:
        if i % 2 == 0:
            answer += i
        i += 1
    return answer

In [ ]:
def solution(n):
    return sum(i for i in range(2, n + 1, 2)) 
# 어차피 짝수만 더하는 거니까
""" range는 이미 iterable 객체이기 때문에 
list comprehension으로 다시 풀어 쓸 필요 없이
바로 sum 함수에 넣을 수 있습니다. """

In [ ]:
def solution(n):
    return sum(range(0, n+1, 2))

In [ ]:
def solution(n):
    answer = 0
    for i in range(2, n+1, 2):
        answer += i
    return answer