In [1]:
str_count = input("반복할 횟수를 입력하세요: ")
count = int(str_count)

for i in range(count):
    print("Hello, world!", i)

Hello, world! 0
Hello, world! 1
Hello, world! 2
Hello, world! 3
Hello, world! 4
Hello, world! 5

In [2]:
num = int(input("단수를 입력하시오: "))

for i in range(1, 10):
    print(f"{num} x {i} = {num*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [6]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f"{i} x {j} = {i*j}")
    print("\n")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18


3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45


6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54


7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63


8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [7]:
age = 0

while age < 5:
    print(f"{age}살입니다.")
    age += 1

0살입니다.
1살입니다.
2살입니다.
3살입니다.
4살입니다.

In [10]:
age = 0
num = 0
while age < 5:
    while num < 3:
        print(f"{age}살입니다.")
        num += 1
    num = 0
    age += 1
    print("\n")

0살입니다.
0살입니다.
0살입니다.


1살입니다.
1살입니다.
1살입니다.


2살입니다.
2살입니다.
2살입니다.


3살입니다.
3살입니다.
3살입니다.


4살입니다.
4살입니다.
4살입니다.

In [11]:
for row in range(10):
    if row == 2:
        break
    print(f"{row}번째 row")

0번째 row
1번째 row

In [12]:
for row in range(10):
    if row == 2:
        continue
    print(f"{row}번째 row")

0번째 row
1번째 row
3번째 row
4번째 row
5번째 row
6번째 row
7번째 row
8번째 row
9번째 row

In [13]:
for num in range(11):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9

In [14]:
student = {'name':'홍길동', 'major':'인공지능학과', 'score':3.5}
print(student)

{'name': '홍길동', 'major': '인공지능학과', 'score': 3.5}

In [15]:
student = {'name':'홍길동', 'major':'정통과', 'score':3.5}
print(student['name'])
print(student['score'])

홍길동
3.5

In [16]:
student = {'name':'홍길동', 'major':'정통과', 'score':3.5}

print(student.items())
print(student.keys())
print(student.values())

dict_items([('name', '홍길동'), ('major', '정통과'), ('score', 3.5)])
dict_keys(['name', 'major', 'score'])
dict_values(['홍길동', '정통과', 3.5])